body {
    height: 100vh;
}

body {
    background-color: #000000;
}

button {
    width: 100px;
    text-transform: uppercase;
}

.pauseBtn {
    display: none;
}

.timeString {
    color: #ff0000;
}

.printedTime {
    color: #ff0000;
    font-size: 20px;
}

.timer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}